<h1>@<%= current_user.username %>'s Twitter Feed</h1>
<h2>Here is what your friends are saying:</h2>


<div class="container">
    <% @following_tweets.each do |tweet| %>
        
	    <p>@<%= tweet.user.username %> said...</p>
	    <p><%= tweet.message.html_safe %></p>
	
    <% end %>
</div>
